
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: #004080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.button:hover {
    background-color: #003060;
}
